server:
  port: 8082
spring:
  application:
    name: analytic-service
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    initialization-mode: always

  jpa:
    hibernate:
      ddl-auto: create
      import-files: import.sql

  h2:
    console:
      enabled: true
      path: /h2-console

